@font-face { font-family: Akzidenz_regular; src: url(../fonts/BertholdAkzidenzGroteskBERegular.otf);}
@font-face { font-family: Akzidenz_medium; src: url(../fonts/BertholdAkzidenzGroteskBEMedium.otf);}
@font-face { font-family: Akzidenz_bold; src: url(../fonts/BertholdAkzidenzGroteskBEBold.otf);}
@font-face { font-family: Akzidenz_black; src: url(../fonts/BertholdAkzidenzGroteskBESuper.otf);}

$regular: Akzidenz_regular, sans-serif;
$medium: Akzidenz_black, sans-serif;
$bold: Akzidenz_black, sans-serif;
$black: Akzidenz_black, sans-serif;

h1, h2, h3, h4 {
  font-family: $black;
  color: $color-text-primary;
}

p {
  color: $color-text-primary;
}

// temp components
.by-line {
  margin-top: rem-calc(60);
  margin-bottom: rem-calc(60);
  border-left: rem-calc(4) solid #7d8b92;
  p {
    text-transform: uppercase;
    font-family: $black;
    margin: 0;
    color: #7d8b92;
    padding-left: rem-calc(10);
  }
}

@import './components/header';
@import './components/hero-section';
@import './components/about-section';