
.aside-article {
    padding: rem-calc(70);
}

.our-story {
    h2, p {
        color: $white;
    }
    h2 {
        text-transform: uppercase;
    }
    background: linear-gradient(-45deg,#c4ced4,#7a909a);
}



@media screen and (min-width: 64em) { 
    .our-story {
        // max-width: rem-calc(600);
        // padding: rem-calc(100);
        p {
            // font-size: rem-calc(28);
        }
    }
    // .our-story {
    //     padding-left: rem-calc(360);
    // }
 }