
.about-content {
    // height: rem-calc(450);
    .aside-article {
        padding: rem-calc(70);
    }
    
    .our-story {
        h2, p {
            color: $white;
            text-align: center;
        }
        h2 {
            text-transform: uppercase;
        }
        background: linear-gradient(-45deg,#c4ced4,#7a909a);
    }
}

.product-intro {
    padding: rem-calc(60) 0;
    h4 {
        text-transform: uppercase;
    }
}