header {
  nav {
    position: absolute;
    background: $white;
    z-index: 100;
    width: 100%;
    height: rem-calc(70);
    padding: rem-calc(30);
    display: flex;
    justify-content: space-between;
    
    .main-navigation {
      .hamburger-menu {
        img {
          width: rem-calc(25);
        }
      }
      .logo {
        margin-left: rem-calc(20);
        img {
          width: rem-calc(150);
        }
      }
    }
    
    .nav-connect {
      img {
        width: rem-calc(20);
      }
        li {
          display: inline-block;
        }
        li:last-child {
          margin-left: rem-calc(10);
        }
    }
    
    
    
  }
}