.hero-wrapper {
  position: relative;
  height: 100vh;
  max-height: rem-calc(1350);
  min-height: rem-calc(550);
  background: url('../img/ghassan-test.jpg') no-repeat center center;
  background-size: cover;
  // background: #41839b;
  h1 {
    text-transform: uppercase;
  }
}



.by-line {
  margin-top: rem-calc(150);
  margin-bottom: rem-calc(60);
  border-left: rem-calc(4) solid #7d8b92;
  p {
    text-transform: uppercase;
    font-family: $black;
    margin: 0;
    color: #7d8b92;
    padding-left: rem-calc(10);
  }
}

.explore-btn {
  z-index: 100;
  position: absolute;
  bottom: rem-calc(150);
  left: rem-calc(-40);
  width: rem-calc(160);
  height: rem-calc(30);
  transform: rotate(-90deg);
  span {
    display: inline-block;
  }
  a {
    font-family: $black;
    text-transform: uppercase;
    font-size: rem-calc(12);
    color: #b8c5ca;
    margin: 0;
  }
  .explore-arrow {
    transform: translateY(6px);
    width: rem-calc(80);
    overflow: hidden;
      #explore-arrow {
        transform: translateX(60%);

    }
  }
}
