<div class="footer-wrapper">
        <div class="grid-container">
      
          <div class="grid-x">
            <div class="cell large-12">
              <div class="footer-logo">
                <img src="./assets/img/ghassan_logo.png" alt="">
              </div>
            </div>
          </div>
      
          <div class="grid-x">
            <div class="cell large-12">
              <ul class="footer-menu text-center">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">News/media</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
      
          <div class="grid-x">
            <div class="cell large-12 footer-social">
              <p class="text-center">Follow us</p>
              <ul class="social-icons">
                <li><a href="#"><img src="./assets/img/social/facebook.svg" alt=""></a></li>
                <li><a href="#"><img src="./assets/img/social/twitter.svg" alt=""></a></li>
                <li><a href="#"><img src="./assets/img/social/linkedin.svg" alt=""></a></li>
              </ul>
            </div>
          </div>
      
          <div class="grid-x">
            <div class="cell large-8 large-offset-2 small-8 small-offset-2">
              <div class="cell large-12 footer-copyright text-center">
                <p>&copy; 2017 Ghassan. All rights reserved.</p>
              </div>
            </div>
          </div>
      
        </div>
      </div>
      