<header>
  <nav>
    <div class="main-navigation">
      <span class="hamburger-menu"><img src="../assets/img/menu-button.svg" alt=""></span>
      <a href="./" class="logo"><img src="../assets/img/ghassan_logo.png" alt=""></a>
    </div>
    <div class="nav-connect">
      <ul>
        <li><a href=""><img src="../assets/img/facebook.svg" alt="facebook logo"></a></li>
        <li><a href=""><img src="../assets/img/twitter.svg" alt="twitter logo"></a></li>
      </ul>
    </div>
  </nav>
</header>