<section class="about-content">

        <div class="grid-x">           
            <div class="cell large-6 aside-article our-story">
                <h2>Our Story</h2>
                <p>Ghassan Luxury Brand is a boutique range of Organic infused products including Anti-age Skin care, Hair care and Men's range.</p>
                <div class="btn-primary">
                    <p>Explore</p>
                </div>
            </div>
    
            <div class="cell large-6">
                <div class="about-image">
                    <img src="../assets/img/test-image2.jpg" alt="">
                </div>
            </div>

        </div>
</section>

<div class="product-intro">
    <div class="grid-container">
        <div class="grid-x">
                <div class="cell large-10 large-offset-1">
                    <h4 class="text-center">Organic and natural ingredients</h4>
                    <p class="text-center">Ghassan has added the benefits of organic and natural ingredients along with botanical extracts and essential oils, resulting in pure indulgence of the products made. Each Infused Organic component has been matched with Natural-based ingredients for each products so you can benefit both from the Luxury and the advanced Technology that GHASSAN products can provide. GHASSAN ingredients has been sourced and made in Australia, and with its clean, crisp recyclable packaging, it is designed for the Environmentally conscious.
                    </p>
                </div>
        </div>
    </div>
</div>