<section class="about-content">
    <div class="grid-x">

      <div class="cell large-6 aside-article our-story">
                <h2>Our Story</h2>
                <p>GHASSAN Luxury Brand is a boutique range of Organic infused products including Anti-age Skin care, Hair care and Men's range.</p>
                <p>The Creator behind the Brand is Ghassan who in his early years of being a Stylist brought him to the fashionable streets of Paris and Milan, took his Vision and creativity throughout Europe and travelled for many miles before he landed in Australia, where his idea of the brand was born, and created to simply achieve faster results without consumers having to use multiple products.</p>
                <p>The GHASSAN collection was inspired by the beauty of nature that is offered by the vast lands of Australia. In conjunction with GHASSAN laboratories and with the aid of International Experienced Team of stylists, the ideal formulations for skin and hair care ranges was developed.
                </p>
                <p>Ghassan has added the benefits of organic and natural ingredients along with botanical extracts and essential oils, resulting in pure indulgence of the products made.</p>
      </div>

      <div class="cell large-6">
        <div class="about-image">
            <img src="../assets/img/test-image2.jpg" alt="">
        </div>
        <div class="our-story-aside aside-article">
            <h4>Infused Organic components</h4>
            <p>Each Infused Organic component has been matched with Natural-based ingredients for each products so you can benefit both from the Luxury and the advanced Technology that GHASSAN products can provide. GHASSAN ingredients has been sourced and made in Australia, and with its clean, crisp recyclable packaging, it is designed for the Environmentally conscious.</p>
        </div>
        <!-- <div class="btn-primary">
          <p>Explore</p>
        </div> -->
      </div>
    </div>
  </section>