<div class="hero-wrapper">

  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-10 large-offset-1">

        <div class="grid-x">
          <div class="cell large-6">
            <div class="by-line">
              <p>love life.</p>
              <p>Respect nature</p>
            </div>

            <h1>Organic infused skin & hair productcs</h1>
            <p>GHASSAN Luxury Brand is a boutique range of Organic infused products including Anti-age Skin care, Hair care and Men's range.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="explore-btn">
      <span class="explore-arrow"><img id="explore-arrow" src="../assets/img/long-arrow.svg" alt=""></span>
      <span class="explore-link"><a href="">Explore</a></span>
  </div>

</div>
